/* The side navigation menu */
.sidenav {
    height: 600px; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 150px;
    left: 0;
    background-color: #111; /* Black*/
    /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}



h1{
	text-align:center;
	
}
#main_body{
	position:fixed;
	left:250px;
	width:1100px;
	top: 150px;
	height: 600px;
	padding-bottom:200px;
}
#top_head{
	position:fixed;
	height:150px;
	width: 100%;
	opacity:1.0;
}
#iitklogo{
	position:relative;
	left : 50px;
	top:35px;
}
#site_heading{
	position:fixed;
	left:300px;
	top: 35px;
	width:640px;
	
}
body{
	position:fixed;
}
h2,h3,h4{
	text-align:center !important;
}
.fblink{
	
	position:relative;
	left:43%
		
}
.fblink1{
	
	position:relative;
	left:46.5%
		
}